
<h1>My Services</h1>

<%= link_to "Create a New Service", new_service_path, class: "btn btn-dark mb-3" %>

<div class="cards">
  <% @services.each do |service| %>
    <div class="col">
      <div class="card">
        <img src="<%= service.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= service.title %></h5>
          <p class="card-text"><%= service.description %></p>
          <p class="card-text"><strong>Duration:</strong> <%= service.duration %> minutes</p>
          <p class="card-text"><strong>Price:</strong> £<%= service.price %></p>
          <%= link_to "Details", service_path(service) %>

          <% if service.user == current_user %>
            <%= link_to "Delete", service_path(service), method: :delete, data: { confirm: "Are you sure you want to delete this service?" }, class: "btn btn-dark" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

