<h1><%= @service.title %></h1>
<div class="card mb-3">
  <img src="<%= @service.image %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= @service.title %></h5>
    <p class="card-text"><%= @service.description %></p>
    <p class="card-text"><strong>Duration:</strong> <%= @service.duration %> minutes</p>
    <p class="card-text"><strong>Price:</strong> £<%= @service.price %></p>
    <p class="card-text"><small class="text-muted">Uploaded: 7 minutes ago</small></p>
    <%= form_with url: booking_path, method: :post, class: "d-inline" do %>
   <%= hidden_field_tag :service_id, @service.id %>
    <%= submit_tag "Book Now", class: "btn btn-dark" %>
    <% end %>
  </div>
