<h1>My Bookings</h1>

<!-- <%= form_with(url: Services_path, method: :get, local: true) do %> -->
<!--   <%= label_tag :query, "Services" %> -->
<!--   <%= text_field_tag :query, params[:query] %> -->
<!--   <%= submit_tag "Search" %> -->
<!-- <% end %> -->

<ul>
  <% @bookings.each do |booking| %>
    <p><%= booking.service.title %></p>
    <%= link_to "Delete",
      booking_path(booking),
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  <% end %>
</ul>
